USE [master]
GO
/****** Object:  Database [Fakture]    Script Date: 7/31/2019 1:49:50 AM ******/
CREATE DATABASE [Fakture]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fakture', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Fakture.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Fakture_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Fakture_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fakture].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fakture]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/31/2019 1:49:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faktura]    Script Date: 7/31/2019 1:49:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faktura](
	[IdFakture] [nvarchar](10) NOT NULL,
	[Datum] [date] NOT NULL,
	[Ukupno] [float] NOT NULL,
	[Obrisana] [bit] NOT NULL,
 CONSTRAINT [PK_Faktura] PRIMARY KEY CLUSTERED 
(
	[IdFakture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FakturaViewModels]    Script Date: 7/31/2019 1:49:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FakturaViewModels](
	[Id] [nvarchar](128) NOT NULL,
	[Faktura_IdFakture] [nvarchar](10) NULL,
	[Unosi_IdFakture] [nvarchar](10) NULL,
	[Unosi_IdStavke] [int] NULL,
	[skupStavkizaUnos] [nvarchar](max) NULL,
	[skupKolicinazaUnos] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.FakturaViewModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stavka]    Script Date: 7/31/2019 1:49:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stavka](
	[IdStavke] [int] IDENTITY(1,1) NOT NULL,
	[NazivStavke] [nvarchar](50) NOT NULL,
	[CenaStavke] [float] NOT NULL,
	[Obrisana] [bit] NOT NULL,
	[FakturaViewModel_Id] [nvarchar](128) NULL,
	[kolicina] [int] NULL,
 CONSTRAINT [PK_Stavke] PRIMARY KEY CLUSTERED 
(
	[IdStavke] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unosi]    Script Date: 7/31/2019 1:49:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unosi](
	[IdFakture] [nvarchar](10) NOT NULL,
	[IdStavke] [int] NOT NULL,
	[Kolicina] [int] NOT NULL,
	[FakturaViewModel_Id] [int] NULL,
 CONSTRAINT [PK_Unosi] PRIMARY KEY CLUSTERED 
(
	[IdFakture] ASC,
	[IdStavke] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Faktura] ([IdFakture], [Datum], [Ukupno], [Obrisana]) VALUES (N'11111aaaaa', CAST(N'2019-01-01' AS Date), 1551.77, 0)
INSERT [dbo].[Faktura] ([IdFakture], [Datum], [Ukupno], [Obrisana]) VALUES (N'22222aaaaa', CAST(N'2019-07-30' AS Date), 300.3, 1)
INSERT [dbo].[Faktura] ([IdFakture], [Datum], [Ukupno], [Obrisana]) VALUES (N'33333bbbbb', CAST(N'2019-07-30' AS Date), 1445.64, 0)
INSERT [dbo].[FakturaViewModels] ([Id], [Faktura_IdFakture], [Unosi_IdFakture], [Unosi_IdStavke], [skupStavkizaUnos], [skupKolicinazaUnos]) VALUES (N'01', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[FakturaViewModels] ([Id], [Faktura_IdFakture], [Unosi_IdFakture], [Unosi_IdStavke], [skupStavkizaUnos], [skupKolicinazaUnos]) VALUES (N'1', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[FakturaViewModels] ([Id], [Faktura_IdFakture], [Unosi_IdFakture], [Unosi_IdStavke], [skupStavkizaUnos], [skupKolicinazaUnos]) VALUES (N'11111aaaaa', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Stavka] ON 

INSERT [dbo].[Stavka] ([IdStavke], [NazivStavke], [CenaStavke], [Obrisana], [FakturaViewModel_Id], [kolicina]) VALUES (8, N'probna stavka 01', 100.12, 0, NULL, NULL)
INSERT [dbo].[Stavka] ([IdStavke], [NazivStavke], [CenaStavke], [Obrisana], [FakturaViewModel_Id], [kolicina]) VALUES (9, N'probna stavka 02', 150.15, 0, NULL, NULL)
INSERT [dbo].[Stavka] ([IdStavke], [NazivStavke], [CenaStavke], [Obrisana], [FakturaViewModel_Id], [kolicina]) VALUES (12, N'probna stavka 03', 111.11, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Stavka] OFF
INSERT [dbo].[Unosi] ([IdFakture], [IdStavke], [Kolicina], [FakturaViewModel_Id]) VALUES (N'11111aaaaa', 8, 11, NULL)
INSERT [dbo].[Unosi] ([IdFakture], [IdStavke], [Kolicina], [FakturaViewModel_Id]) VALUES (N'11111aaaaa', 9, 3, NULL)
INSERT [dbo].[Unosi] ([IdFakture], [IdStavke], [Kolicina], [FakturaViewModel_Id]) VALUES (N'22222aaaaa', 9, 2, NULL)
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Faktura_IdFakture]    Script Date: 7/31/2019 1:49:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_Faktura_IdFakture] ON [dbo].[FakturaViewModels]
(
	[Faktura_IdFakture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Unosi_IdFakture_Unosi_IdStavke]    Script Date: 7/31/2019 1:49:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_Unosi_IdFakture_Unosi_IdStavke] ON [dbo].[FakturaViewModels]
(
	[Unosi_IdFakture] ASC,
	[Unosi_IdStavke] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FakturaViewModel_Id]    Script Date: 7/31/2019 1:49:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_FakturaViewModel_Id] ON [dbo].[Stavka]
(
	[FakturaViewModel_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FakturaViewModels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FakturaViewModels_dbo.Unosi_Unosi_IdFakture_Unosi_IdStavke] FOREIGN KEY([Unosi_IdFakture], [Unosi_IdStavke])
REFERENCES [dbo].[Unosi] ([IdFakture], [IdStavke])
GO
ALTER TABLE [dbo].[FakturaViewModels] CHECK CONSTRAINT [FK_dbo.FakturaViewModels_dbo.Unosi_Unosi_IdFakture_Unosi_IdStavke]
GO
ALTER TABLE [dbo].[FakturaViewModels]  WITH CHECK ADD  CONSTRAINT [FK_FakturaViewModels_Faktura] FOREIGN KEY([Faktura_IdFakture])
REFERENCES [dbo].[Faktura] ([IdFakture])
GO
ALTER TABLE [dbo].[FakturaViewModels] CHECK CONSTRAINT [FK_FakturaViewModels_Faktura]
GO
ALTER TABLE [dbo].[Stavka]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Stavka_dbo.FakturaViewModels_FakturaViewModel_Id] FOREIGN KEY([FakturaViewModel_Id])
REFERENCES [dbo].[FakturaViewModels] ([Id])
GO
ALTER TABLE [dbo].[Stavka] CHECK CONSTRAINT [FK_dbo.Stavka_dbo.FakturaViewModels_FakturaViewModel_Id]
GO
ALTER TABLE [dbo].[Unosi]  WITH CHECK ADD  CONSTRAINT [FK_Unosi_Faktura] FOREIGN KEY([IdFakture])
REFERENCES [dbo].[Faktura] ([IdFakture])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Unosi] CHECK CONSTRAINT [FK_Unosi_Faktura]
GO
ALTER TABLE [dbo].[Unosi]  WITH CHECK ADD  CONSTRAINT [FK_Unosi_Stavka] FOREIGN KEY([IdStavke])
REFERENCES [dbo].[Stavka] ([IdStavke])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Unosi] CHECK CONSTRAINT [FK_Unosi_Stavka]
GO
USE [master]
GO
