body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
textarea,
select {
    max-width: 280px;
}

.cenaStavkeWrapper, .cenaStavke, .cenaStavkeEdit {
    width: 250px;
    display: inline;
}

.cenaStavkeLabel {
    position: relative;
    top: -26px;
    left: 40px;
}

.cenaStavke, .cenaStavkeEdit {
    width: 100px;
}

.kolicinaWrapper {
    display: inline !important;
    margin-left: -26px;
}

.kolicinaLabel {
    position: relative;
    top: -26px;
    left: 62px;
}

.kolicinaEditor {
    display: inline !important;
    width: 100px !important;
}



